/* Conteneur du menu */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.header a {
  text-decoration: none;
}

.logo {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: #c1bb61;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul-icon {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#dropbtn {
  width: 24px;
  height: 24px;
}

/* Styles pour le menu déroulant */
.dropdown {
  position: relative;
  display: inline-block;
}

#dropbtn {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content {
  color: black;
  padding: 15%;
  text-decoration: none;
}
.dropdown-content .title-open-coeur,
.dropdown-content .title-open-panier,
.dropdown-content .title-open-user,
.dropdown-content p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.panier-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.panier-item img {
  width: 40px;
  height: auto;
  border-radius: 5px;
}

.panier-item span {
  margin: 0 10px;
  font-size: 0.9em;
}

.panier-item button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.panier-item button:hover {
  text-decoration: underline;
}

/* Main */

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-card p {
  color: #555;
}

.product-card button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #0056b3;
}


#rares h2,
#tendances h2{
  display: flex;
  justify-content: center;
}

